@{
    bool isAdmin()
    {
        foreach (var item in User.Claims)
        {
            if (@item.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
            {
                if (@item.Value == "Admin")
                {
                    return true;
                }
                else
                {
                    return false;
                }
            }
        }
        return false;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Authn</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Authn.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PC Service</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @if (@Context.Request.Path == "/Home/Index" || @Context.Request.Path == "/" || @Context.Request.Path == "/Home")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (@Context.Request.Path == "/Home/Privacy")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            }

                        </li>
                        <li class="nav-item">
                            @if (@Context.Request.Path == "/Repairs/Search")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Repairs" asp-action="Search">Search for Repair</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Repairs" asp-action="Search">Search for Repair</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (@Context.Request.Path == "/Home/Secured")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Secured">Secured</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Secured">Secured</a>
                            }

                        </li>
                        @if (isAdmin())
                        {
                            <li class="nav-item dropdown">
                                @if (@Context.Request.Path == "/Login/list" || @Context.Request.Path == "/Repairs" || @Context.Request.Path == "/Deliveries" || @Context.Request.Path == "/PartsTypes " || @Context.Request.Path == "/Parts")
                                {
                                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="AdminPanel" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel</a>
                                }
                                else
                                {
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="AdminPanel" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel</a>
                                }
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="list">Users Panel</a>
                                     <a class="dropdown-item" asp-area="" asp-controller="Repairs" asp-action="index">Repairs Panel</a>
                                     <a class="dropdown-item" asp-area="" asp-controller="Deliveries" asp-action="index">Deliveries Panel</a>
                                     <a class="dropdown-item" asp-area="" asp-controller="PartsTypes" asp-action="index">Parts Types Panel</a>
                                     <a class="dropdown-item" asp-area="" asp-controller="Parts" asp-action="index">Parts Panel</a>
                                    @*                                    <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>*@
                                </div>
                            </li>

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Authn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
