@model IEnumerable<Authn.Models.PartsTypes>

@{
    ViewData["Title"] = "Index";
}
@{
    var tempDataerror = TempData["error"] as string;
    var tempDatapass = TempData["pass"] as string;
    var tempDatawarn = TempData["warning"] as string;

}

@if (!string.IsNullOrEmpty(tempDatapass))
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <b>@tempDatapass</b>
    </div>

}
@if (!string.IsNullOrEmpty(tempDataerror))
{

    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
       <b> @tempDataerror</b>
    </div>
}
@if (!string.IsNullOrEmpty(tempDatawarn))
{

    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">@tempDatawarn</p>
    </div>

}
<h1>Parts types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
